.app-content {
    width: 600px;
    /* padding: 50px; */
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}

.control-row {
    margin: 8px;
}

.list-group {
    text-align: left;
    color: rgb(6, 83, 141);
}

.check-margin10 { 
    margin-left:10px;
}

@media (max-width: 650px) {
    .app-content {
        width: auto;
    }
}
