.app-content {
    width: 600px;
    /* padding: 50px; */
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}

.control-row {
    margin: 8px;
}

@media (max-width: 650px) {
    .app-content {
        width: auto;
    }
}
