body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
.app-content {
    width: 600px;
    padding: 50px;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}

.control-row {
    margin: 8px;
}

.check-margin10 { 
    margin-left:10px;
}

.routines {
    text-align: left;
}

@media (max-width: 650px) {
    .app-content {
        width: auto;
    }
}
